streamlit>=1.32
pandas>=2.1
numpy>=1.26
openpyxl>=3.1
pydeck>=0.9
scikit-learn>=1.4
rapidfuzz>=3.6
pyarrow>=15.0
streamlit-echarts>=0.4.0
folium>=0.15
streamlit-folium>=0.20
pygwalker>=0.4.9
tornado>=6.4
pyotp>=2.9
qrcode[pil]>=7.4
cryptography>=42.0
